# ─── App ─────────────────────────────────────────────────────────────────────
PORT=3000
NODE_ENV=production
APP_URL=http://localhost
CLIENT_ORIGIN=http://localhost

# ─── Auth ─────────────────────────────────────────────────────────────────────
JWT_SECRET=cambia_esto_por_un_secreto_seguro
JWT_EXPIRES_IN=7d
COOKIE_MAX_AGE=604800000

# ─── Postgres ────────────────────────────────────────────────────────────────
POSTGRES_USER=ilu
POSTGRES_PASSWORD=ilu
POSTGRES_DB=ilu_db

# ─── Storage ─────────────────────────────────────────────────────────────────
STORAGE_DRIVER=local   # local | s3

# AWS S3 (solo si STORAGE_DRIVER=s3)
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=
